---
import { type MarkdownLayoutProps } from "astro"
import Main from "../layouts/Main.astro"
import "../styles/global.css"

type Props = MarkdownLayoutProps<{
    title: string, 
    heading: string,
    description: string,
    heroImg: string
}>

const { title, heading, description, heroImg } = Astro.props.frontmatter 
---
<Main title={title}>
    <figure class="hero">
        <img class="figureImg" src={heroImg} alt="" width="100%" height="400px">
        <figcaption>
            dog food images for { title }
        </figcaption>
    </figure>
    <div class="promotion">
        <h1>{heading}</h1>
        <h3>{description}</h3>
        <slot />
    </div>

</Main>

<style>
    .promotion{
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
</style>